<footer class="site-footer">
    <div class="container site-footer__inner">
        <div class="site-footer__column site-footer__column--title">
            <strong class="site-footer__title">
                URZĄD<br>
                MARSZAŁKOWSKI<br>
                WOJEWÓDZTWA<br>
                LUBUSKIEGO
            </strong>

            <div class="site-footer__socials" aria-label="Media społecznościowe">
                <a href="https://www.facebook.com/lubuskiepl" class="site-footer__social-link" aria-label="Facebook">
                    <img
                        src="{{ url_for('static', filename='icons/facebook.svg') }}"
                        alt="Facebook"
                        class="site-footer__social-icon"
                    >
                </a>

                <a href="https://www.youtube.com/user/eLubuskie24" class="site-footer__social-link" aria-label="YouTube">
                    <img
                        src="{{ url_for('static', filename='icons/youtube.svg') }}"
                        alt="YouTube"
                        class="site-footer__social-icon"
                    >
                </a>

                <a href="https://www.instagram.com/lubuskie.pl/?hl=pl" class="site-footer__social-link" aria-label="Instagram">
                    <img
                        src="{{ url_for('static', filename='icons/instagram.svg') }}"
                        alt="Instagram"
                        class="site-footer__social-icon"
                    >
                </a>
            </div>
        </div>

        <div class="site-footer__column site-footer__column--contact">
            <p>
                ul. Podgórna 7<br>
                65-057 Zielona Góra
            </p>

            <p>
                tel. +48 68 45 65 590<br>
                +48 68 45 65 591<br>
                fax. +48 68 45 65 468
            </p>

            <p>
                e-mail:
                <a href="mailto:wnioski@lubuskie.pl">wnioski@lubuskie.pl</a>
            </p>
        </div>
    </div>
</footer>